<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/moban/css/index.css}"/>
	<link rel="stylesheet" th:href="@{/moban/css/swiper3.07.min.css}"/>
	<script th:src="@{/moban/js/jquery-1.11.2.min.js}"></script>
	<script th:src="@{/moban/js/main.js}"></script>
	<script th:src="@{/moban/js/koala.min.1.5.js}"></script>
	<style>
		.swiper-container {
			width: 1100px;
			height: 300px;
			margin: 0 auto;
		}
	</style>
	<title>首页</title>
</head>
<body>
<span th:replace="/common/head2 :: header"></span>

<div class="banner container" style="position: relative">
	<div class="clearfix" style="position: relative;width: auto;padding-left: 30px">
		<div class="about fl" style="float: left;">
			<img src="/moban/images/aboutus.jpg" width="350px" height="264px" alt=""/>
			<br><br>
			<h1>欢迎访问</h1><br>
			<h1>在这里，让你不再为寻找车位发愁，让所有的车主享受方便快捷的共享车位服务，我们将努力地为你打造一流地车位共享服务，让你的闲置车位为你带来额外收入</h1>
		</div>
		<div id="fsD1" class="focus fl" style="float: left">
			<div id="D1pic1" class="fPic">
				<div class="fcon">
					<a ><img src="/moban/images/lunbo1.jpg" /></a>
					<span class="shadow"><a >共享车位</a></span>
				</div>
				<div class="fcon">
					<a ><img src="/moban/images/lunbo2.jpg" /></a>
					<span class="shadow"><a >方便快捷</a></span>
				</div>
				<div class="fcon">
					<a ><img src="/moban/images/lunbo3.jpg" /></a>
					<span class="shadow"><a >闲空位利用</a></span>
				</div>
				<div class="fcon">
					<a ><img src="/moban/images/lunbo4.jpg" /></a>
					<span class="shadow"><a >停车难</a></span>
				</div>
			</div>

			<div class="fbg">
				<div class="D1fBt" id="D1fBt">
					<a href="javascript:void(0)" class="current"><i>1</i></a>
					<a href="javascript:void(0)"><i>2</i></a>
					<a href="javascript:void(0)"><i>3</i></a>
					<a href="javascript:void(0)"><i>4</i></a>
				</div>
			</div>
		</div>
		<div class="help fr" style="float: left">
			<h2>最新公告</h2>
			<ul>
				<li th:each="notice,noticeStat : ${noticeList}">
				<a th:href="@{'/notice/notice-detail?id='+${notice.id}}"><span th:text="${notice.title}"></span>
				<span style="float: right;margin-right: 3%" th:text="${#calendars.format(notice.createDate,'MM-dd')}"></span>
				</a></li>
			</ul>
		</div>
	</div>
	<br>
    <div style="float: top"><img src="/moban/images/img00.png" alt="" style="width: 1200px;height: auto;"/><br></div>

</div>
<span th:replace="/common/foot :: footer"></span>
<script type="text/javascript">
	Qfast.add('widgets', { path: "/moban/js/terminator2.2.min.js", type: "js", requires: ['fx'] });
	Qfast(false, 'widgets', function () {
		K.tabs({
			id: 'fsD1',   //焦点图包裹id
			conId: "D1pic1",  //** 大图域包裹id
			tabId:"D1fBt",
			tabTn:"a",
			conCn: '.fcon', //** 大图域配置class
			auto: 1,   //自动播放 1或0
			effect: 'fade',   //效果配置
			eType: 'click', //** 鼠标事件
			pageBt:true,//是否有按钮切换页码
			bns: ['.prev', '.next'],//** 前后按钮配置class
			interval: 3000  //** 停顿时间
		})
	})
</script>
</body>
</html>