<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: commonHead('车位列表')">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 车次管理 <span class="c-gray en">&gt;</span> 车次列表
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i id="shuaxin" class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<form action="/admin/findCarByKey">
		<input type="text" th:value="${keyTmp}" class="input-text" style="width:250px" placeholder="输入车位编号" name="keyTmp" />
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜车位</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
	<span class="l">
	<a href="javascript:;" onclick="car_add('添加车位','/admin/car-add','800','400')" class="btn btn-primary radius">
	<i class="Hui-iconfont">&#xe600;</i> 添加车位</a></span>
	<span class="r">共有数据：<strong th:text="${carNum}"></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">车次列表</th>
			</tr>
			<tr class="text-c">
				<th width="45">序号</th>
				<th width="100">提交日期</th>
				<th width="100">车位名称</th>
				<th width="100">车位编号</th>
				<th width="100">车位所在省份</th>
				<th width="100">车位所在市/区</th>
				<th width="100">车位具体位置</th>
				<th width="100">车位时价(/元)</th>
				<th width="100">车位状态</th>
				<th width="130">证明文件</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="car,carStat : ${carList}" >
				<td>
				<span th:text="${carStat.index+1}"></span>
				<input type="hidden" th:value="${car.park_id}" class="inp"/>
				</td>
				<td th:text="${car.create_time}"></td>
				<td th:text="${car.park_name}"></td>
				<td th:text="${car.park_num}"></td>
				<td th:text="${car.park_province}"></td>
				<td th:text="${car.park_city}"></td>
				<td th:text="${car.park_location}"></td>
				<td th:text="${car.park_price}"></td>
				<td class="td-status">
				    <span class="label label-warning radius"  th:if="${car.check_status}==审核中">待审核</span>
					<span class="label label-danger radius"  th:if="${car.check_status}==审核拒绝">审核拒绝</span>
					<span class="label label-success radius"  th:if="${car.check_status}==审核通过">审核通过</span>
			    </td>
				<td>
					<button class="btn-primary btn-" onclick="image(this,'车位相关材料','/car/image','1000','700')" >&nbsp;&nbsp;查看&nbsp;&nbsp;</button>

				</td>
			    <td>
				<button class="btn1 label-info" style="font-size: larger" onclick="check(this,'车位审核','/car/check','1000','700')">&nbsp;&nbsp;审核</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<style type="text/css">
	.btn1 {

		width: 50px;
		display: inline-flex; justify-content: right; align-items: center; text-decoration: none; /*for <a> link*/  border: 1px solid transparent; border-radius: 5px;  color: #fff; background-color: #9555af;

	}
	.btn1:focus, .btn1:active { outline: none 0; transform: translateY(1px); filter: saturate(150%); } .btn1:hover { color: #9555af; border-color: currentColor; background-color: #fff; }

	.btn:hover { color: #9555af; border-color: currentColor; background-color: #fff; }

</style>
<!-- 引入公共js -->
<span th:include="/common/on-load-js :: commonOnLoadJs"></span>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

function car_add(title,url,w,h){
	layer_show(title,url,w,h);
}
function check(obj,title,url,w,h){
    var carId = $(obj).parents("tr").find(".inp").val();
    var urltmp = url+"?park_id="+carId;
    layer_show(title,urltmp,w,h);
}
function image(obj,title,url,w,h){
    var carId = $(obj).parents("tr").find(".inp").val();
    var urltmp = url+"?park_id="+carId;
    layer_show(title,urltmp,w,h);
}

function car_edit(obj,title,url,w,h){
	var carId = $(obj).parents("tr").find(".inp").val();
	var urltmp = url+"?carId="+carId;
	layer_show(title,urltmp,w,h);
}

function car_del(obj){
	layer.confirm('确认要删除吗？',function(index){
		var carId = $(obj).parents("tr").find(".inp").val();
		$.ajax({
			type: 'POST',
			url: '/admin/delCar',
			data:{"carId":carId},
			dataType: 'json',
			success: function(data){
				if(data.res==0){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}else{
					layer.msg('操作失败!',{icon: 2,time:1000});
				}
			}
		});		
	});
}
</script>

</body>
</html>